* {
    margin:100px;
    }
    body {
<<<<<<<<< Temporary merge branch 1
    background: yellow;
=========
    background:skyblue;
    <h2>Nombre Apellido</h2>
>>>>>>>>> Temporary merge branch 2
    }
    